/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  height: 30px;
  width: 30px;
}
.image {
  width: 100%;
  border-radius: 10px;
}
.author-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.blog-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 20px;
}
.heading {
  font-size: 25px;
}
.para {
  font-size: 15px;
}
